services:
  api:
    build:
      context: .
      dockerfile: api/hono/Dockerfile
    ports:
      - "4000:4000"
    env_file:
      - .env
    environment:
      - PORT=4000

  web:
    build:
      context: .
      dockerfile: web/next/Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - .env
    environment:
      - PORT=3000
