name: auto-check-build

on:
  push:
    branches: ["canary"]
  pull_request:
    types: [opened, synchronize]

jobs:
  auto-check-build:
    name: Lint, Build, and Check Types
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --ignore-scripts

      - name: Lint, Build, and Check Types
        run: |
          bun run lint
          bun run build
          bun run check-types
        env:
          SKIP_ENV_VALIDATION: true
          NODE_ENV: production
          NEXT_PUBLIC_APP_URL: https://polyfill.url
          NEXT_PUBLIC_API_URL: https://polyfill.url
